@import url('../css/fonts.css');

html,body{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    overflow-x: hidden;
}
/**Global Variables*/
:root{
    /*Theme Colors**/
    --text_gray:#3f4954;
    --text-light:#686666da;
    --Abel:'Abel',cursive;
    --bg-color:#0f0f0f;
    --white:#ffffff;
    --mid-night:#104f55;
    /**Gradient Colors**/
    --sky: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);

}
/**Global Classes*/
a{
    text-decoration: none;
    color: var(--text_gray);
}
ul{
    list-style-type: none;
}
h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2.5rem;
}
h3{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.3rem;
}
button.btn{
    border: none;
    border-radius: 2rem;
    padding: 1rem 3rem ;
    font-size: 1rem;
    font-family: 'Times New Roman', Times, serif;
    cursor: pointer;

}
.flex-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.text-gray{
    color: var(--text_gray);
}
p{
    font-family: var(--Abel);
    color: var(--text-light);
}
/*---------X-------Global Classes or Variables--------------*/
/*Nav Bar Styles*/
.nav{
    background: white;
    padding: 0;
    height: 0rem;
    min-height: 10vh;
    overflow: hidden;
}
.nav .nav-brand a{
    font-size: 1.6rem;
    padding: 1rem 0;
    display: block;
    font-family: var(--Abel);
    font-size: 1.6rem;
}
.nav .nav-menu{
    justify-content: space-between;
    align-items: center;
    
}
.nav .toggle-collapse{
    position: absolute;
    top: 0%;
    width: 90%;
    cursor: pointer;
    display: none;

}
.nav .toggle-collapse .toggle-icons{
    display: flex;
    justify-content: flex-end;
    padding: 1.7rem 0;
}
.nav .toggle-collapse .toggle-icons i{
    font-size: 1.4rem;
    color: var(--text_gray);
}
.collapse{
    height: 40rem;
}
.nav .nav-items{
    display: flex;
}
.nav .nav-items .nav-links{
    padding: 1.6rem 1rem;
    font-size: 1.1rem;
    position: relative;
    font-family: var(--Abel);
    font-size: 1.1rem;
}
.nav .social{
    padding: 1.4rem 0;
}
.nav .social i{
    padding: 0 .2rem;
}
.nav .social i:hover{
    color: #a1c4cf;
}
.nav .nav-items .nav-links:hover{
    background-color: var(--mid-night);
}
.nav .nav-items .nav-links:hover a{
color: var(--white);
}

/*Viewport lessthan or equal to 750px*/
@media only screen and (max-width:750px){
    .nav .nav-menu, .nav .nav-items{
       flex-direction: column;
    }
    .nav .toggle-collapse{
        display: initial;
    }
}
/*-----------Main Content--------------------*/
main .section-title{
    background: url('../assets/Background-image.png');
    background-size: cover;
    height: 110vh;
    display: flex;
    justify-content: center;
}

main .section-title .site-background{
    padding-top: 10rem;
    text-align: center;
    color: var(--white);
}
main .section-title h1,h3{
    margin: .3rem;
}

main .section-title .btn{
    margin: 1.8rem;
    background: var(--sky);
}
main .section-title .btn:hover{
    background: transparent;
    border: 1px solid var(--white);
    color: var(--white);
}
/**------------------Owl Carousel    --------------------------**/
main .blog{
    background: url(../assets/Abract01.png);
    background-repeat: no-repeat;
    background-position: right;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    background-size: 65%;
}
main .blog .blog-post{
    padding-top: 6rem;
}
main .blog-post .blog-content{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 80%;
    margin: 3rem 2rem;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
} 

main .blog-content .blog-title{
    padding: 2rem 0;
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
}
main .blog-content .btn-blog{
    padding: 1rem 2rem;
    background: var(--sky);
    margin: .5rem;
    width: 150px;

}
main .blog-content span{
    display: block;
}
span{
    font-family: var(--Abel);
}
.container{
    margin: 0 5vw;
}

/*-------------Site Content----------------------------------------*/

main .site-content{
    display: grid;
    grid-template-columns: 70% 30%;
}
main .post-content{
    width: 100%;
    /*margin-bottom: 5rem;*/
  
}
main .site-content .post-content >.post-image, .post-title{
    padding: 1rem 2rem;
    position: relative;  
}
main .site-content .post-content >.post-image>.post-info {
 background: var(--sky);
 padding: 1rem;
 position: absolute;
 bottom: 0%;
 left: 20vw;
 border-radius: 3rem;
}

main .site-content> .post-image>div{
    overflow: hidden;
}

main .site-content .post-content>.post-image .img{
    width: 100%;
    transition: all 1s ease;
}

main .site-content .post-content>.post-image .img:hover{
    transform: scale(1.1);
}
main .site-content .post-content>.post-image .post-info span{
    margin: 0 .5rem;
}

main .post-content .post-title a{
    font-family: var(--Abel);
    font-size: 1.5rem;
}

.site-content .post-content .post-title .post-btn{
    border-radius: 0;
    padding: .7rem 1.5rem ;
    background: var(--sky);
}

/*----------------Side Bar-------------------------------------------*/
.site-content>.sidebar .category-list a{
 color: black;
}
.site-content>.sidebar .category-list .list-items{
    background: var(--sky);
    padding: .4rem 1rem;
    margin: .8rem 0;
    border-radius: 3rem;
    width: 70%;
    display: flex;
    justify-content: space-between;
}
.site-content .sidebar .popular-post .post-content{
    padding: 1rem 0;
}
.site-content .sidebar .popular-post h2{
    padding-top: 8rem;
}
.site-content .pagination{
    justify-content: center;
    color: var(--text_gray);
    margin: 4rem 0;
}
.site-content .pagination a{
    padding: .6rem .9rem;
    border-radius: 2rem;
    margin:  .3rem ;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.site-content .pagination .pages{
    background: var(--text_gray);
    color: var(--white);
}
.site-content .sidebar .popular-post .post-content{
    padding: 1rem 0;
}
.site-content .sidebar .popular-post h2{
    padding-top: 8rem;
}

.site-content .sidebar .popular-post .post-info{
    padding: .4rem .1rem !important;
    bottom: 0rem !important;
    left: 1.5rem !important;
    border-radius: 0rem !important;
    background: var(--white) !important;
}
.site-content .sidebar .newsletter{
padding-top: 5rem;
}

.site-content .sidebar .newsletter .form-element{
    padding: .5rem 2rem;
}
.site-content .sidebar .newsletter  .input-element{
    width: 80%;
    height: 1.9rem;
    padding: .3rem .5rem ;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1rem;
}

.site-content .sidebar .newsletter  .form-btn{
    border-radius: 0;
    padding: .8rem 32%;
    margin: 1rem 0;
    background: var(--sky);
}


.site-content .sidebar .poppular-tags{
    padding: 5rem 0;
}
.site-content .sidebar .poppular-tags .tags .tag{
    background: var(--sky);
    padding: .4rem 1rem;
    border-radius: 3rem;
    margin: .4rem .6rem;
}
/*-----------XXXXXXX-----Side Bar--------------XXXXXXXX---------------------*/

    /*------XXXXX-------Site Content----------------XXXXX------------*/
/*----End of -------Main Content--------------------*/


/*   ==========================Footer==============================================*/
footer.footer{
    height: 100%;
    background: var(--bg-color);
    position: relative;
 
}

footer.footer .container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

footer.footer .container>div{
    flex-grow: 1;
    flex-basis: 0;
    padding: 3rem .9rem;
}

footer.footer   h2{
 color: var(--white);
}
footer.footer .newsletter .form-element{
    background: black;
    display: inline-block;
}

footer.footer .newsletter .form-element input{
    padding: .5rem .7rem;
    border: none;
    background: transparent;
    color: var(--white);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1rem;
    width: 74%;
}

footer.footer .newsletter .form-element span{
    background: var(--sky);
    padding: .5rem .7rem;
    cursor: pointer;
}

footer.footer .instagram div>img{
    display: inline-block;
    width: 25%;
    height: 50%;
    margin: .3rem .4rem;
}

footer.footer .follow div i{
    color: var(--white);
    padding: 0 .4rem;
}

footer.footer .right{
    justify-content: center;

}
footer.footer .right h4 a{
    color: var(--white);
}
footer.footer .move-upward{
position: absolute;
right: 6%;
top: 80%;
}
footer.footer .move-upward span{
    color: var(--mid-night);
}

footer.footer .move-upward span:hover{
    color: var(--white);
    cursor: pointer;
}
/*   =============XXXX===========Footer================XXXX========================*/